nav i {
    color:#fff;
}

.col-left {
    height: 94vh;
    background-color: #F4F4F4;
}

.active {
    background-color: gray;
}

.listTest {
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}