@import "_variables.scss";


.task-form {
    background-color: $primary-bg-color;
    border-bottom:rgba(255, 255, 255, 0.3) 1px solid;
}

.task-form:focus {
    background-color: $primary-bg-color;
}

.form-check-input {
    background-color: $input-color;
    border: 1px solid rgba(255,255,255,.3);
}

.form-check-input:focus {
    box-shadow: rgba(108, 27, 29, 0.3) 0px 0px 0px 3px;
}

[type="checkbox"]:hover, .bi-trash:hover, .bi-save2:hover, .bi-pen:hover {
    position: relative;
    bottom: 3px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.bi-save2:hover, .bi-pen:hover {
    background-color: $font-color;
    color: $secondary-bg-color;
}

.form-check-input:checked {
    background-color: $secondary-highlight;
    border-color: $secondary-highlight;
}

[type="checkbox"]:checked + .taskName {
    opacity: 0.5;
    text-decoration: line-through;
}

.list-group-item:has([type="checkbox"]:checked) {
    bottom: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}