@import "_variables.scss";
@import "_lists.scss";
@import "_tasks.scss";

* {
    border-radius: 0 !important;
  }

body, nav i, .navbar-brand {
    color: $font-color;
}

body {
    background-color: $primary-bg-color;
}

$baseBorderRadius: 0;

.navbar, .btn, .badge {
    background-color: $primary-highlight;
    color: $font-color;
}

.col-left {
    height: 94vh;
    background-color: $secondary-bg-color;
}


.active {
    background-color: $secondary-highlight;
}

.listTest {
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

